/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.env

updates/
composer.lock
*.lock
.env
firebase-messaging-sw.js
public/frontend/images/placeholder.jpg
public/frontend/images/placeholder.jpg
public/uploads/
public/blog/
public/shop/
public/skinlopedia/
public/sliders/

