h1,
h2,
h3,
h4,
h5,
span {
    color: #212121;
}

body {
    background: #fafafa;
}

li a {
    text-emphasis: none;
}

a {
    text-decoration: none;
}

.section-sub-head {
    min-height: 480px;
    background: linear-gradient(180deg, #FFFFFF 50%, #FAFAFA 100%);
    /* margin-top: -70px; */
}

.section-detail-produk {
    margin-top: -210px;
    /* min-height: 100vh; */
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.btn-daftar-regis {
    background: #1B5E20;
    color: #FFFFFF;
}

.btn-primary1 {
    background-color: #3B6CB6;
    color: #FFFFFF;
}

.btn-secondary1 {
    background-color: #3BB6B1;
    color: #FFFFFF;
}

.bg-img-login {
    background-image: url("../images/bg-login.jpg");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.together {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}
@font-face{
    font-family: pt;
    src: url('../fonts/PTSans-Bold.ttf');
}
.img-login {
    width: 214px;
    height: 214px;
}

.img-regis {
    width: 150px;
    height: 150px;
}

.text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.bg-form {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card.bg-form {
    font-family: 'Open Sans', sans-serif;
}

.lupa-pass {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: #3BB6B1;
}

.bpa {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.ba {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.large_bottom_margin {
    margin-bottom: 2rem !important;
    margin-right: auto;
    margin-left: auto;
}

.bg-verifikasi {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-reg-phy {
    background-image: url("../images/bg-reg-phy.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register_otp {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.code_sms {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.number_sms {
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.inline_input_ {
    font-size: 30px;
    font-weight: 600;
    color: #3B6CB6;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
    padding: 0;
    margin: 0 .625rem;
    outline: none;
    background-color: transparent;
    width: 2.25rem;
    text-align: center;
}

.img-reg-phy {
    width: 60px;
    height: 60px;
}

.head-reg-phy {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}

.detail-img-produk {
    width: 280px;
    height: 280px;
    margin: 40px;
}

.img-serupa {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.judul_produk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
}

.name-produk-lainnya {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.price {
    margin-top: 5px;
}

.text__harga {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #464646;
}

.price_ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #B71C1C;
}

.deskripsi__produk {
    padding: 40px;
}

.head-detail-produk {
    margin-bottom: 10px;
}

.nama_produk-detail {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #212121;
    margin-bottom: 20px;
}

.harga__produk {
    margin-top: 20px;
}

.harga__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #464646;
    margin-bottom: 5px;
}

.price__produk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #B71C1C;
}

.qty {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sub {
    outline: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 100%;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.qty__number {
    outline: none;
    cursor: pointer;
    border: none !important;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    background: transparent;
    color: #0D47A1;
    font-weight: 600;
    font-size: 18px;
    width: 50px;
    height: 32px;
}

.add {
    outline: none;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 100%;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.add__wishlist {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #B71C1C;
}

.deskripsi-detail-produk {
    margin-top: 10px;
    margin-bottom: 50px;
}

/* footer */

.img-footer {
    width: 168px;
    height: 193px;
}

.img-sosmed-footer {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-copyright {
    background: #006064;
}

.copyright-color {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

/* ---- */

.section-syarat-ketentuan {
    margin-top: -20%;
}

/* .head-syarat-ketentuan{

} */

.syarat__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #006064;
}

.img__ {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 427px;
    width: auto;
    left: 150px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-bg-syarat {
    min-height: 100vh;
    margin-top: -35%;
    background-image: url("../images/bg-syarat\ &\ ketentuan.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart-head-left {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3B6CB6;
}

.img-cart-produk__ {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 2px;
}

.name-produk-cart__ {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}

.tipe-produk__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #424242;
}

.harga-cart {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #B71C1C;
}

.dicount-cart__ {
    text-decoration: line-through #212121;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
}

.point-cart__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #212121;
}

.rincian-cart__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.detail-table__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */
    text-align: right;
    color: #212121;
}

.total-cart__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #B71C1C;
}

.cart-point-plus__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #B71C1C;
}

.pp-akun-right__ {
    width: 112px;
    height: 112px;
    border: 4px solid #3B6CB6;
    border-radius: 50%;
}

.commend-sz-img {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #A0A0A0;
    width: 200px;
    margin: 0px;
}

.head-card-akun__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #474747;
}

.section-akun-profil {
    margin-top: -150px;
}

.img-wish__ {
    width: 150px;
    width: 150px;
}

.-produk-wish__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #212121;
}

.price-wish-__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #B71C1C;
}

.head-referal__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #154FAE;
}

.referal-on__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0D47A1;
}

.body-copy-link__ {
    background: #eaeaea;
    border-radius: 5px;
}

.link-referal__ {
    width: 100%;
}

.text-ic-share__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #212121;
}

.icon-referal-share__ {
    width: 27px;
    height: 27px;
    margin-right: 14px;
    text-decoration: none;
}

.copy-text__ {
    font-weight: bold;
    font-size: 14px;
    color: #464646;
}

.copy-text__:hover {
    color: #282828;
}

.ic_copy__ {
    color: #464646;
}

.bg-poin-now {
    background: linear-gradient(90deg, #FFEE58 0.01%, rgba(253, 228, 0, 0.1) 100%);
}

.text-head-poin__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FF6F00;
}

.ic-akunpoin__ {
    width: 40px;
    height: 40px;
}

.poin-now__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FF6F00;
}

.table-riwayat-poin__ {
    background: #0277BD;
    color: #FFFFFF;
}

.aktif-poin__ {
    border-bottom: solid #006064 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #006064;
    padding-bottom: 10px;
}

.non-poin__ {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
}

.table-menu-poin {
    background: #FAFAFA;
    border-top: none;
}

h1,
h2,
h3,
h4,
h5,
span {
    color: #212121;
}

body {
    background: #fafafa;
}

.accordion .head-pembayaran .name-bank h5 button[aria-expanded="true"] svg {
    transform: rotate(180deg);
    text-align: right;
}

.accordion .head-pembayaran .name-bank h5 button[aria-expanded="false"] svg {
    transform: rotate(0);
}

a {
    text-decoration: none;
}

.section-sub-head {
    min-height: 310px;
    background: linear-gradient(180deg, #FFFFFF 50%, #FAFAFA 100%);
    /* margin-top: -70px; */
}

.section-detail-produk {
    margin-top: -210px;
    /* min-height: 100vh; */
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.groove {
    border-style: groove;

}

.btn-daftar-regis {
    background: #1B5E20;
    color: #FFFFFF;
}

.btn-primary1 {
    background-color: #3B6CB6;
    color: #FFFFFF;
}

.btn-secondary1 {
    background-color: #3BB6B1;
    color: #FFFFFF;
}

.btn-card-obat {
    background-color: #3B6CB6;
    color: #FFFFFF;
}

.btn-search {
    background-color: #F1F1F1;
    border: #212121;
    color: #FFFFFF;
}

.btn-login {
    background: #3B6CB6;
    border-radius: 5px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.btn-register {
    background-color: #FFFFFF;
    border: #3B6CB6;
    border-radius: 5px;
}

.btn-urutkan {
    background-color: #E0E0E0;
    margin-left: 5px;
    margin-right: 5px;

}

.btn-urutkan-active {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3BB6B1;
    color: #fff;

}

.btn-default {
    background-color: #3B6CB6;
    color: #FFFFFF;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* The container */
.rb-bank {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default radio button */
.rb-bank input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.rb-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */
.rb-bank:hover input~.rb-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rb-bank input:checked~.rb-checkmark {
    background-color: #3B6CB6;
    border-style: none;

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rb-checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the indicator (dot/circle) when checked */
.rb-bank input:checked~.rb-checkmark:after {
    display: block;
    border-style: none;

}

/* Style the indicator (dot/circle) */
.rb-bank .rb-checkmark:after {
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border-style: none;
    background: white;
}

/*p*/

/* The container */
.cb-pengiriman {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default radio button */
.cb-pengiriman input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.cb-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-color: #006064;
    border-radius: 15%;
    border-style: solid;
}


/* On mouse-over, add a grey background color */
.cb-pengiriman:hover input~.cb-checkmark {
    background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.cb-pengiriman input:checked~.cb-checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.cb-pengiriman input:checked~.cb-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.cb-pengiriman .cb-checkmark:after {
    left: 5px;
    top: 1px;
    width: 10px;
    height: 15px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*p*/
.btn-add-address {
    text-align: center;
    margin-bottom: 5%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #B71C1C;
}

.bag-icon {
    background-image: url('../images/icon/bag.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-login {
    background-image: url("../images/bg-login.jpg");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-artikel {
    background-image: url("../images/icon/bg-artikel-home.png");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrumb li:not(:last-of-type):after{
    content: '';
}
.together {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}

.img-login {
    width: 214px;
    height: 214px;
}

.img-regis {
    width: 150px;
    height: 150px;
}

.text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.text-checkout {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2%;
    color: #3B6CB6;
}

.name-address {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0%;
    color: #000000;
}

.address-user {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    padding-left: 0%;
    font-size: 14px;
    margin-bottom: 0%;
    color: #000000;
}

.text-hasilpencarian {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.text-hasil {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #B71C1C;
    margin-left: 5px;
}

.text-ekspedisi {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.text-rincian-bayar {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.text-rincian-harga {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.logo-bank {
    width: 100%;
    height: 90%;
    border: 1px solid #ECE8E5;
    border-radius: 5px;
}

.btn-pembayaran {
    background-color: #fff;
    color: #3B6CB6;
    border-style: solid;
    border-radius: 2px;
    border-color: #c4c4c4;
    cursor: pointer;
    font-size: 14px;
}

.actived,
.btn-pembayaran:hover {
    background-color: #3B6CB6;
    border: none;
    color: white;
}

.tabcontent {
    display: none;
    border-top: none;
}

.date-ekspedisi {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.bg-form {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card.bg-form {
    font-family: 'Open Sans', sans-serif;
}

.lupa-pass {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: #3BB6B1;
}

.bpa {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.ba {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.large_bottom_margin {
    margin-bottom: 2rem !important;
    margin-right: auto;
    margin-left: auto;
}

.bg-verifikasi {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-reg-phy {
    background-image: url("../images/bg-reg-phy.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register_otp {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.code_sms {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.number_sms {
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.inline_input_ {
    font-size: 30px;
    font-weight: 600;
    color: #3B6CB6;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
    padding: 0;
    margin: 0 .625rem;
    outline: none;
    background-color: transparent;
    width: 2.25rem;
    text-align: center;
}

.img-reg-phy {
    width: 60px;
    height: 60px;
}

.head-reg-phy {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}

.detail-img-produk {
    width: 280px;
    height: 280px;
    margin: 40px;
}

.img-serupa {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.judul-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #212121;
}

.jumlah-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.number-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #B71C1C;
}

.card-pesanan__ {
    border-radius: none;
}

.virtual-pembayaran-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #474747;
}

.no-resi-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
}

.status-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #474747;
}

.img-bank {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.judul_produk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
}

.name-produk-lainnya {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.name-bank {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.deskripsi-bank {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
}

.no-rekening {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    color: #B71C1C;
}

.petunjuk-transfer {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    color: #000000;
}

.price {
    margin-top: 5px;
}

.address {
    margin-top: 5px;
}

.text__harga {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #464646;
}

.price_ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #B71C1C;
}

.deskripsi__produk {
    padding: 40px;
}

.pembayaran_sukses {
    padding: 40px;
}

.head-detail-produk {
    margin-bottom: 10px;
}

.head-pembayaran {
    margin-bottom: 10px;
}

.nama_produk-detail {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #212121;
    margin-bottom: 20px;
}

.harga__produk {
    margin-top: 20px;
}

.harga__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #464646;
    margin-bottom: 5px;
}

.price__produk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #B71C1C;
}

.qty {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sub {
    outline: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 100%;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.qty__number {
    outline: none;
    cursor: pointer;
    border: none !important;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    background: transparent;
    color: #0D47A1;
    font-weight: 600;
    font-size: 18px;
    width: 50px;
    height: 32px;
}

.add {
    outline: none;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 100%;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.add__wishlist {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #B71C1C;
}

.deskripsi-detail-produk {
    margin-top: 10px;
    margin-bottom: 50px;
}

/* footer */

.img-footer {
    width: 168px;
    height: 193px;
}

.img-sosmed-footer { 
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-copyright {
    background: #006064;
}

.copyright-color {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    font-size: 14px;
}


.section-syarat-ketentuan {
    margin-top: -20%;
}

/* .head-syarat-ketentuan{

} */

.syarat__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #006064;
}

.img__ {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 427px;
    width: auto;
    left: 150px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-bg-syarat {
    min-height: 100vh;
    margin-top: -35%;
    background-image: url("../images/bg-syarat\ &\ ketentuan.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart-head-left {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3B6CB6;
}

.img-cart-produk__ {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 2px;
}

.name-produk-cart__ {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}

.tipe-produk__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #424242;
}

.harga-cart {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #B71C1C;
}

.dicount-cart__ {
    text-decoration: line-through #212121;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
}

.point-cart__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #212121;
}

.rincian-cart__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.detail-table__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */
    text-align: right;
    color: #212121;
}

.total-cart__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #B71C1C;
}

.cart-point-plus__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #B71C1C;
}

.pp-akun-right__ {
    width: 110px;
    height: 110px;
    border: 4px solid #3B6CB6;
    border-radius: 50%;
}

.say-helo-dok {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #212121;
}

.pp-akun-dr-right__ {
    width: 110px;
    height: 110px;
    border: 4px solid #3BB6B1;
    border-radius: 50%;
}

.commend-sz-img {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #A0A0A0;
    width: 200px;
    margin: 0px;
}

.head-card-akun__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #474747;
}

.section-akun-profil {
    margin-top: -350px;
}

.img-wish__ {
    width: 150px;
    width: 150px;
}

.-produk-wish__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #212121;
}

.price-wish-__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #B71C1C;
}

.head-referal__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #154FAE;
}

.referal-on__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0D47A1;
}

.body-copy-link__ {
    background: #eaeaea;
    border-radius: 5px;
}

.link-referal__ {
    width: 100%;
}

.text-ic-share__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #212121;
}

.icon-referal-share__ {
    width: 27px;
    height: 27px;
    margin-right: 14px;
    text-decoration: none;
}

.copy-text__ {
    font-weight: bold;
    font-size: 14px;
    color: #464646;
}

.copy-text__:hover {
    color: #282828;
}

.ic_copy__ {
    color: #464646;
}

.bg-poin-now {
    background: linear-gradient(90deg, #FFEE58 0.01%, rgba(253, 228, 0, 0.1) 100%);
}

.text-head-poin__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FF6F00;
}

.ic-akunpoin__ {
    width: 40px;
    height: 40px;
}

.poin-now__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FF6F00;
}

.table-riwayat-poin__ {
    background: #0277BD;
    color: #FFFFFF;
}

.aktif-poin__ {
    border-bottom: solid #006064 2px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #006064;
    padding-bottom: 10px;
}

.non-poin__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
}

.table-menu-poin {
    background: #FAFAFA;
    border-top: none;
}

.title-id-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
}

.img-produk-pesanan__ {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.img-pesanan__ {
    width: 70px;
    height: 70px;
}

.judul-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #212121;
}

.jumlah-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.number-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #B71C1C;
}

.card-pesanan__ {
    border-radius: none;
}

.virtual-pembayaran-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #474747;
}

.no-resi-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
}

.status-pesanan__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #474747;
}

.head-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #474747;
}

.name-dropshipper {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #606060;
}

.head-dropshipper {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #3B6CB6;
}

.bg-rank-membership-now {
    background-image: url("../images/bg-membership-gold.jpg");
    width: 449px;
    height: 228px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-tag-membership {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #0A1141;
}

.name-membership {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0A1141;
}

.text-comment-member {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #212121;
}

.nominal-range-membership {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    color: #0A1141;
}

.progress {
    height: 30px;
    border-radius: 50px;
}

.img-content-artikel {
    border-radius: 10px 10px 0px 0px;
    height: 174px;
}

.card-artikel {
    border-radius: 10px;
}

.judul-blog__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}

.caption-blog__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #424242;
}

.img-sidebar-akun__ {
    height: 40px;
    width: 40px;
    border-radius: 0px;
}

.big-img-akun__ {
    width: 90px;
    height: 90px;
    border: 4px solid #3BB6B1;
    border-radius: 50%;
}

.big-img-akun-pasien__ {
    width: 90px;
    height: 90px;
    border: 4px solid #3B6CB6;
    border-radius: 50%;
}

.tag-username-akun__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #212121;
}

.role-user {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #212121;
}

.editprofil-pp__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #A0A0A0;
}

.bg-form-verifikasi {
    background-image: url("../images/bg-form.png");
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-form-lupapass {
    background-image: url("../images/bg-form.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-verifikasi-email__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    color: #0D47A1;
}

.text-verifikasi-email__ {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.note-peninjauan__ {
    width: 300px;
    height: 300px;
    background: linear-gradient(180deg, #006064 0%, #004C64 98.82%);
    border-radius: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.text-peninjauan__ {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.img-peninjauan__ {
    width: 50px;
    height: 50px;
}

.text-head-detail-modal__{
    font-weight: 600;
    color: #464646;
}

.text-content-detail-modal__{
    color: #3B6CB6;
    font-weight: bold;
}

.text-head-detail-modal__total{
    font-weight: bold;
    color: #212121;
}

.text-content-detail-modal__total{
    color: #B71C1C;
    font-weight: bold;
}

.norek-detail-modal__{
    color: #B71C1C;
    font-weight: 600;
}